<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <img src="/clothing-store-home.webp" class="home-image">
        </div>
        <%- include("templates/footer") %>
    </body>
</html>