<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="title"><%=message%></h1>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>