<%- include("templates/head") %>
    <body>
        <%- include("templates/menu.ejs") %>
        <div class="main-container">
            <h1>NOT FOUND THE CONTENT</h1>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>