<%- include("templates/head") %>
    <body>
        <%- include("templates/menu") %>
        <div class="main-container">
            <h1>Carrito de Compras</h1>
            <section class="product-list">
                    
            </section>
            <section class="purchase-container">
                <span class="total-pay"></span>
                <button id="purchase" class="purchase" value="purchase">Comprar</button>
            </section>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>
