<%- include("templates/head") %>
    <body>
        <%- include("templates/menu") %>
        <div class="main-container">
            <h1 class="title">INFORMACION DE LA CUENTA</h1>
            <div class="user-data">
                <img src="../../../assets/default-user.webp">
                <span class="names"></span>
                <span class="user"></span>
                <span class="email"></span>
                <span class="password"></span>
                <button class="sign-off">Cerrar Sesion</button>
            </div>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>

