<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Clothing-Store page, designed by Azame Franco">
        <title>Tienda de Ropa</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="shortcut-icon" href="#">
    </head>

