<section class="top-container-wrapper">
    <div class="top-container">
        <div class="logo">
            <a href="/"><img class="logo-image" src="default-icon.webp" alt="Logo"></a>
            <a href="/">Clothing<br>Store</a>
        </div>
        <div class="search">
            <section class="search-box">
                <form class="search-form">
                    <input type="text" placeholder="Buscar productos...">
                </form>
            </section>
        </div>
        <div class="login-checkin-cart">
            <a href="/login" id="login-icon">Iniciar Sesión</a>
            <a href="/checkin" id="checkin-icon">Registrarse</a>
            <a href="/user" id="user-icon">Usuario</a>
            <a href="/shopping_cart"><img src="shopping-cart.svg" alt="shopping-cart"></a>
        </div>
        <div class="menu">
            <a href="/products?type=calzado">Calzados</a>
            <a href="/products?type=pantalon">Pantalones</a>
            <a href="/products?type=remera">Remeras y Camisas</a>
        </div>
    </div>
</section>